{% extends 'base.html' %}

{% block title %}
Home | NoticeBoard
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="container mt-5">
    <h2>Notices</h2>
    <div class="row justify-content-center">
        {% for notice in notices %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ notice.title }}</h5>
                    <p class="card-text">{{ notice.content|truncatechars:20 }}</p>
                    <p class="card-text"><small class="text-muted">Posted on: {{ notice.datetime }}</small></p>
                    <p class="card-text"><small class="text-muted">Category: {{ notice.category }}</small></p>
                    <a href="{% url 'notice_detail' notice_id=notice.id %}" class="btn btn-primary " style="margin-right: 100px;">View Details</a>
                    {% if user.is_authenticated %}
                        {% if user.role == 'CR' or user.role == 'dean' %}
                        <a href="{% url 'update_notice' notice.id %}" class="btn btn-primary ml-auto">Update Notice</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <span class="page-link current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}