<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ipsam, 
        illo unde iusto rerum tenetur nihil dolore recusandae nostrum dolores magnam illum nobis ipsa asperiores 
        aliquam delectus quam minus. Dolore?</p>
</body>
<script src="{% static 'js/script.js' %}"></script>
</html>