<!-- permission_denied.html -->
{% extends 'base.html' %}

{% block title %}
Permission Denied | Your Website
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h3 class="text-center">Permission Denied</h3>
                </div>
                <div class="card-body">
                    <p class="text-center">You don't have the required permission to access this page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}