@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
    --main-font: "Souce Sans Pro", sans-serif;
    --secondary-font: "Herr Von Muellerhoff";
    --body-font: "Cabin", sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #ffc477;
    --body-font-color: #515151;
    --animation-color: #fff;

    /* CSS HEX */
    --rich-black-fogra-29: #101417ff;
    --gold-metallic: #d5ad3fff;
    --ruby-red: #942427ff;
    --gray-web: #807e7fff;
    --rich-black-fogra-29-2: #101417ff;

    /* CSS HEX */
    --black: #000000ff;
    --azure: #0080ffff;
    --dim-gray: #69656cff;
    --cg-red: #e6362eff;
    --verdigris: #00aaaaff;
    --gold-web-golden: #fcd40bff;
    --lemon-yellow: #faed3dff;
    --yellow: #f7ca3e;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    border: none;
    transition: all 0.2s linear;
    /* font-family: "Poppins", sans-serif; */
}

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    padding: 0.8rem 14%;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 5.5rem;
}

#nav-bar {
    display: flex;
    font-size: 1.1rem;
}

#nav-bar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-bar .nav-links li {
    margin-right: 2rem;
}

.nav-link {
    color: #666;
}

.cart {
    font-size: 1.3rem;
}

.cart i {
    color: #666;
}

.active {
    color: var(--yellow);
}

#menu-bar {
    display: none;
}

/* HEADER END */

/* HOME */

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    background: #54a8c9;
    margin-top: 15vh;
}

.board {
    font-family: "Dancing Script", cursive;
    border: 10px solid;
    width: 23%;
    padding: 50px;
    text-align: center;
    font-size: 2vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-board {
    width: 100%;
    height: 0.25rem;
    background-color: var(--cg-red);
    margin: 5px;
}

.first-line {
    width: 75%;
}

.second-line {
    width: 85%;
}

.yellow {
    color: var(--lemon-yellow);
}

.line-red {
    background-color: var(--cg-red);
    width: 100%;
    height: 0.25rem;
    margin: 5px -2px 0 -2px;
}

.red {
    color: var(--cg-red);
    width: 50%;
    flex: none;
}

/* HOME END */

/* ABOUT */

.container {
    font-size: 1.6vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 40px;
}

.col {
    flex-basis: 50%;
    margin: 0 10px;
}

.text {
    margin-top: -10.75vw;
}

.global-headline {
    text-align: center;
    font-family: var(--secondary-font);
    color: var(--lemon-yellow);
}

.headline {
    font-size: 4.5vw;
    font-weight: 100;
    letter-spacing: -1px;
    margin-top: -3.125vw;
}

.sub-headline {
    font-size: 3vw;
    font-weight: 100;
    letter-spacing: -1px;
}

.first-letter {
    text-transform: uppercase;
    font-size: 4vw;
}

video {
    width: 100%;
}

/* ABOUT END */

/* MENU */

.tittle {
    margin: 0 0 17vh;
    font-size: 4.5rem;
    font-family: var(--secondary-font);
    color: var(--gold-web-golden);
    font-weight: 100;
    line-height: 0.6;
    letter-spacing: 2px;
    text-align: center;
}

.tittle .first-letter {
    text-transform: uppercase;
    font-size: 4.3rem;
}

.small-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding-bottom: 10vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-4 {
    min-width: 20vw;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 15vw;
}

.name {
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

.cart:hover {
    cursor: pointer;
    color: var(--lemon-yellow);
}

.col-4:hover {
    transform: translateY(-5px);
}

/* MENU END */

/* FORM */

form {
    font-size: 1.6vw;
    text-align: center;
    padding: 10px 50px 50px;
}

form input {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

#email {
    padding: 10px;
    border: 2px solid var(--lemon-yellow);
}

#submit {
    cursor: pointer;
    padding: 10px;
    background: var(--lemon-yellow);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

#submit:hover {
    color: var(--lemon-yellow);
    background: white;
    border: 1px solid var(--lemon-yellow);
}

/* FOOTER */

footer {
    background: #000;
    padding: 1rem 7%;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .box-container {
    display: flex;
    justify-content: flex-end;
}

footer .box-container .box {
    color: #fff;
    flex-basis: 30%;
    padding: 0 10px;
}

footer .box-container .box p {
    color: #eee;
    padding: 1rem 0;
}

footer .box-container .box a {
    color: #eee;
    padding: 1rem 0;
    display: block;
}

footer .box-container .box a:hover {
    color: var(--lemon-yellow);
}

footer .box-container .box p i {
    padding-right: 0.5rem;
    color: var(--lemon-yellow);
}

footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.credit {
    text-align: center;
    color: white;
}

/* FOOTER END */

@media screen and (max-width: 770px) {
    /* NAV */

    #nav-bar .nav-links {
        border-top: 5px solid black;
        position: fixed;
        top: 7rem;
        left: 0;
        width: 100%;
        background: var(--lemon-yellow);
        display: flex;
        flex-flow: column;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }

    #nav-bar .nav-links.nav-toggle {
        transform: scaleY(1);
        opacity: 1;
    }

    #nav-bar .nav-links li {
        margin-right: 2rem;
        padding: 10px;
    }

    .cart {
        display: flex;
        font-size: 1.4rem;
    }

    .cart i {
        margin: 0 5px;
    }

    #menu-bar {
        display: block;
        margin-top: 3px;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    /* NAV END */

    .board {
        border: 8px solid;
        width: 32vw;
        padding: 45px;
    }

    /* ABOUT */

    .container {
        height: 80vh;
    }

    .headline {
        font-size: 5.5vw;
    }

    .sub-headline {
        font-size: 4vw;
    }

    .first-letter {
        text-transform: uppercase;
        font-size: 5vw;
    }

    video {
        width: 100%;
    }

    .col-4 {
        min-width: 25vw;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }

    .col-4 img {
        width: 20vw;
    }

    .name {
        display: flex;
        justify-content: space-between;
        width: 20vw;
    }

    /* FORM */

    form {
        font-size: 2vw;
    }

    /* FOOTER */

    footer {
        font-size: 2vw;
    }
}

@media screen and (max-width: 430px) {
    .board {
        width: 52vw;
        padding: 40px;
        font-size: 3.2vw;
    }

    /* ABOUT */

    .container {
        flex-flow: column;
        font-size: 2.7vw;
        height: 70vh;
        padding: 0 9vw;
        margin-top: 10vh;
    }

    .col {
        flex-basis: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .text {
        padding: 0 0 30px;
    }

    .headline {
        font-size: 8.5vw;
        font-weight: 100;
        letter-spacing: -1px;
        margin-top: -5.125vw;
    }

    .sub-headline {
        font-size: 7vw;
        font-weight: 100;
        letter-spacing: -1px;
    }

    .first-letter {
        text-transform: uppercase;
        font-size: 8vw;
    }

    video {
        width: 100%;
    }
}