/* Add some space between the cards */
.card {
    margin-bottom: 20px;
}

/* Style the "View Details" button */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

/* Center the cards horizontally */
.container{
    text-align: center;
}
/* Style for each notice card */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Add margin at the top */
.container mt-5 {
    margin-top: 20px;
}


/* Add margin to the pagination */
.pagination {
    margin-top: 20px;
}

/* Style the active (current) page link */
.pagination .page-item.disabled .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link {
    color: #007bff;
}

.pagination .page-link:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}